appdirs==1.4.4
asgiref==3.2.10
attrs==19.3.0
backcall==0.1.0
decorator==4.4.2
distlib==0.3.0
Django==3.1.7
filelock==3.0.12
importlib-metadata==1.6.1
importlib-resources==1.5.0
ipdb==0.13.2
ipython==7.15.0
ipython-genutils==0.2.0
jedi==0.17.0
more-itertools==8.3.0
packaging==20.4
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.8.2
Pygments==2.7.4
pyparsing==2.4.7
pytest==6.1.2
pytest-django==4.1.0
pytest-lazy-fixture==0.6.3
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tox==3.15.2
traitlets==4.3.3
virtualenv==20.0.21
wcwidth==0.2.4
zipp==3.1.0
