appdirs==1.4.4
asgiref==3.7.2
attrs==19.3.0
backcall==0.2.0
coverage==7.3.2
decorator==4.4.2
distlib==0.3.7
Django==4.2.7
filelock==3.0.12
importlib-metadata==1.6.1
importlib-resources==1.5.0
iniconfig==2.0.0
ipython==8.10.0
ipython-genutils==0.2.0
jedi==0.17.0
more-itertools==8.3.0
packaging==20.4
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.10.0
Pygments==2.17.2
pyparsing==2.4.7
pytest==7.4.3
pytest-cov==4.1.0
pytest-django==4.7.0
pytest-lazy-fixture==0.6.3
pytz==2020.1
six==1.15.0
sqlparse==0.4.4
toml==0.10.1
tox==3.15.2
traitlets==4.3.3
virtualenv==20.0.21
wcwidth==0.2.4
zipp==3.1.0
